
.swipe_slider {
  position: absolute; 
  top: 0px; 
  height: 100%; 
  width: 100%;  
}

.swipe_item {
 /* -webkit-transform: translateZ(0);*/
  -webkit-transform: translateZ(0);
  position: absolute; 
  top: 0px; 
  height: 100%; 
  width: 100%; 
}


.tab_pane {
  position: absolute; 
  top: 0px; 
  height: 100%; 
  width: 100%;  
}


.nav{
  position:absolute; 
  top:0px; 
  width:100%; 
  height:100%; 
}

.nav_item{
  /* set a new point of reference for absolutely positioned elements that are nested inside it */
  /*  position:relative; 
  float: left;
  -webkit-transform: translateZ(0);
  */
  -webkit-transform: translateZ(0);
  position: absolute; 
  top: 0px; 
  height: 100%; 
  width: 100%; 
}

.presenter {
  position: absolute;
	height:100%;
	width:100%;
}

.presenter_child {

  -webkit-transform: translateZ(0);
  position: absolute;
	height:100%;
	width:100%;
}

